@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900')
* {
	outline: none !important;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
}

header {
	position: relative;
	z-index: 1000000;
}

p {
	font-size: 1.15rem
}

.navbar {
	background: transparent !important;
	transition: 0.5s;
}

.navbar.scrolled {
	background: #000 !important;
	transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255.8);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,

.navbar-light .navbar-nav .nav-link:focus {
	color: rgba(255,255,255,1)
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited
{
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight: 600;
}

.banner {
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
	background-image: url("/static/img/bg1.jpg");
	background-size: cover;
	margin-bottom: 0; 

}

.banner:before,
.sec2:before,
.contact:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(#000,transparent);
	pointer-events: none;
}

.banner:after,
.sec2:after,
.contact:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(360deg,#000,transparent);
	pointer-events: none;
}

.height100p {
	height :100vh;
}

.h100 {
	height: 100%;
}

.contentBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}

.contentBox h1 {
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 5rem;
}

.contentBox p {
	color: #fff;
	font-size: 1.3rem;
}

.sec1 {
	padding: 100px 0;
	background: #000;
}

.headerText {
	color: #fff;
}

.headerText h2{
	font-size: 2.5rem;
	color: #fff;
}

.placeBox {
	position: relative;
	max-width: 300px;
	height: 400px;
	margin: 0 auto;
	background: #000;
	margin-top: 30px;
}

.placeBox .imgBx {
	width: 100%;
	height: 100%;
}

.placeBox .imgBx img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.placeBox .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;
}

.placeBox .content h3 {
	position: relative;
	margin: 0;
	padding: 10px;
	background: rgba(0,0,0,.95);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	width: 100%;
	text-align: center;
}

.placeBox .content h3 span{
	font-size: 16px;
	font-weight: 500;
}

.sec2 {
	position: relative;
	background-image: url("/static/img/bg2.jpg");
	background-size: cover;
	height: 100vh;
}

.sec2 h2 {
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 4.5rem;
}

.btnD1 {
	border: 2px solid #fff;
	color: #000;
	background: #fff;
	border-radius: 50px;
	padding: 15px 50px;
	font-size: 1.15rem;
	outline: none;
	font-weight: 500;
	margin-top: 20px;
}

.blog {
	position: relative;
	padding: 100px;
	background: #000;
}

.blogpost {
	position: relative;
	width: 100%;
	margin-top: 30px;
	background: #fff;
}

.blogpost .imgBx {
	height: 400px;
}

.blogpost.imgBx img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blogpost .content {
	padding: 15px;
}

.blogpost .content h1 {
	margin: 0;
	padding: 0 0 10px;
	font-weight: 600;
	font-size: 1.5rem;
}

.btnD2,
.btnD2:hover {
	background: #262626;
	color: #fff;
	border-radius: 10px;
	padding: 10px 20px;
	float: right;
}

.contact {
	position: relative;
	padding: 100px 0;
	background-image: url("/static/img/bg3.jpg");
	background-size: cover;
	min-height: 100vh;
}

.contact form {
	position: relative; 
	z-index: 1000;
}

.contact .form-control {
	background: transparent;
	border: none;
	border-bottom: 2px solid rgba(255,255,255,.2);
	height: 50px;
	border-radius: 0;
	background: rgb(0,0,0,.6);
	color: #fff;
	font-size: 1.25rem;
} 

.contact .form-control:focus,
.contact .form-control:hover{
	border: none;
	border-bottom: 2px solid rgba(255,255,255,1);
	box-shadow: none;
}

.contact .textarea {
	min-height: 100px;
}

.contact label {
	color: #fff;
	font-size: 1.25rem;
}

footer {
	background: #000;
	padding: 50px 0 0;
}

.sci {
	margin:0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content:center;
}

.sci li {
	list-style: none;
	margin:0 20px;
}

.sci li a {
	color: #777;
	font-size: 2em;
	transition: 0.5s;
}

.sci li a:hover{
	color: #fff;
}

.cpryt{
	margin-top: 20px;
	text-align: center;
	color: #777;
}

.cpryt a,
.cpryt a:hover {
	color: #fff;
}

@media (max-width: 992px){
	.navbar-light .navbar-toggler {
		background: #fff;
		border-radius: 0;
	}
	.banner {
		min-height: 100vh;
		padding: 100px 0;
	}
	.contentBox h1,
	.sec2 h2 {
		font-size: 2rem;
	}
	.sec1 {
		padding: 20px 0;
	}
	.headerText h2{
		font-size: 2rem;
	}
	.blog {
		padding: 20px 0;
	}
	.contact {
		padding: 20px 0;
	}
	.contact .form-contact{
		height: 40px;
		border: 1px solid #fff;
	}
	.btnD1{
		padding: 10px 40px;
		margin-top: 10px;
	}
	footer{
		background: #000;
		padding: 0 10px;
	}
	.sci li{
		list-style: none;
		margin: 0 10px;
	}
	.sci li a{
		color: #777;
		font-size: 1.5rem;
		transition: 0.5s;
	}
	.sec2 {
		height: auto;
		padding: 40px 0;
	}
}







