{% extends "base.html" %}
{% load static %}

{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "registrasi/css/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "registrasi/css/font.css" %}">
	{% endblock app_css %}

{% block section-contact %}
<section class="contact" id="contact">
		<div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
			<div class="row">
				<div class="col-sm-12">
					<div class="headerText text-center">
						<h2>{{page_title}}</h2>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="offset-sm-2 col-sm-8">
						<form method="POST">
							{% csrf_token %}
							<table>
								{{akun_form.as_table}}
							</table>
						<button type="submit" class="btn btn-info">Kirim</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock section-contact %}