{% extends "base.html" %}
{% load static %}

{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "registrasi/css/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "registrasi/css/font.css" %}">
	{% endblock app_css %}

{% block section-2 %}
		<section class="sec2" id="adventure">
		<div class="container h100">
			<div class="contentBox h100">
				<div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
					<h1>{{heading}}</h1>
					<p>{{subheading}}</p>
					<a href="{% url 'registrasi:create' %}" class="btn btnD1">Segera Registrasi!</a>
				</div>
			</div>
		</div>
	</section>
{% endblock section-2 %}

{% block section-blog %}
	<section class="blog" id="blog">
		<div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
			<div class="row">
				<div class="offset-sm-2 col-sm-8">
					<div class="headerText text-center">
						<h2>-Data Pengunjung-</h2>
					</div>
				</div>
			</div><br>
			<table class="table table-bordered" style="color: #fff">
			  <thead class="text-center bg-light text-dark">
			    <tr>
			      <th scope="col">No</th>
			      <th scope="col">Nama Lengkap</th>
			      <th scope="col">Email</th>
			      <th scope="col">Jenis Kelamin</th>
			      <th scope="col">Alamat</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			  {% for akun in semua_akun %}
				    <tr>
				      <th scope="row">{{forloop.counter}}</th>
				      <td>{{akun.nama_lengkap}}</td>
				      <td>{{akun.email}}</td>
				      <td>{{akun.jenis_kelamin}}</td>
				      <td>{{akun.alamat}}</td>
				      <td><a class="btn btn-danger" href="{% url 'registrasi:delete' akun.id %}">Delete</a> &nbsp;&nbsp;&nbsp;&nbsp; <a class="btn btn-warning" href="{% url 'registrasi:update' akun.id %}">Update</a></td>
				    </tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	</section>
{% endblock section-blog %}


