{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top" id="myNav">
			<div class="container">
  			<a class="navbar-brand" href="#"><img src="{% static "img/g3.png" %}" style="height: 40px"></a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>

  				<div class="collapse navbar-collapse" id="navbarSupportedContent">
   					 <ul class="navbar-nav ml-lg-auto">
      						<li class="nav-item active">
        						<a class="nav-link" href="{% url "index" %}">Home <span class="sr-only">(current)</span></a>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="{% url "registrasi:list" %}">Registrasi</a>
     						 </li>
     						 <li class="nav-item">
        						<a class="nav-link" href="#">Blog</a>
     						 </li>
     						 <li class="nav-item">
        						<a class="nav-link" href="/admin/">Admin</a>
     						 </li>
    				</ul>
   			</div>
 		 </div>
	</nav>