{% extends "base.html" %}
{% load static %}
{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "registrasi/css/styles.css" %}">
{% endblock app_css %}cc
{% block judul %}
<h1 class="text-left" style="margin-top: 280px">{{judul}}
<p class="lead text-left"> {{subjudul}}</p>
{% endblock judul %}
{% block content-1 %}
	{% block title %}
		<h3>{{page_title}}</h3>
	{% endblock title %}
	{% block contents %}
		<form method="POST">
			{% csrf_token %}
			<p><table>
				{{akun_form.as_table}}
			</table></p>
			<button type="Submit">Simpan</button>
		</form>
	{% endblock contents %}
{% endblock content-1 %}
